<% if @orders.count > 0 %>
  <table class="w-full whitespace-nowrap border rounded-lg shadow text-center">
    <thead class="bg-gray-100">
      <tr>
        <th>Nome</th>
        <th>Pão</th>
        <th>Acompanhamento</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="hover:bg-gray-50 h-10 border">
          <td><%= order.name %></td>
          <td><%= order.food %></td>
          <td><%= order.accompaniment %></td>
          <td><%= order.description %></td>
          <td>
            <%= button_to 'Remover', order_path(order), method: :delete, 
              class: 'border rounded-lg shadow text-white bg-red-400 hover:bg-red-300 hover:text-black px-2 py-1' 
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-center text-lg border shadow rounded bg-indigo-100 py-2 w-full">
    <span>Hoje ainda não foi realizado nenhum pedido 😊</span>
  </div>
<% end %>